<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card name="cajaregis" class="cajaregis">
    <br><br>
    <ion-card-header>
      <ion-card-title>Tu cuenta a sido registrada de forma exitosa.</ion-card-title>
    </ion-card-header>
      <br><br><br><br>
      <img src="/assets/asislisto.png" name="listo" class="listo">
      <br><br><br><br>
      <ion-button type="submit" class="botones1" routerLink="/quienes">
        Ir a tu cuenta
      </ion-button>
      <br><br><br><br>
  </ion-card>
</ion-content>
