<ion-header>
  <ion-toolbar>
    <ion-title>Escanear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card name="cajaescan" class="cajaescan">
    <br><br>
    <ion-card-header>
      <ion-card-title>Tu asistencia a quedado registrada de forma exitosa.</ion-card-title>
    </ion-card-header>
      <br><br><br><br>
      <img src="/assets/asislisto.jpg" name="listo" class="listo">
      <br><br><br><br>
      <ion-button type="submit" class="botones1" routerLink="/quienes">
        Volver al inicio
      </ion-button>
      <br><br><br><br>
  </ion-card>
</ion-content>
