<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
       defaultHref="/quienes"
       text="Back"
       color="primary"
       mode="ios">    
      </ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      ¡¡Noticias!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid fixed class="text-primary">
    <ion-row>
      <ion-col *ngFor =" let noticia of noticias" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="noticia-source-name">{{noticia.source.name}}</ion-card-subtitle>
            <ion-card-title>{{noticia.title}}</ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="noticia.urlToImage"
                    [src]="noticia.urlToImage"></ion-img>
          <ion-card-content>
            <p>
              {{noticia.descripcion}}
            </p>
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
